@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 1.5rem;
}

body {
  /* background-color: #ffb6c1; */
  background: rgb(115, 102, 76);
  background: linear-gradient(
    96deg,
    rgba(115, 102, 76, 1) 0%,
    rgba(116, 90, 171, 1) 37%,
    rgba(76, 144, 161, 1) 100%
  );
  font-family: "Nunito", sans-serif;
}

p {
  /* color: whitesmoke; */
  margin: 1em 0 0;
}

article {
  margin: 1em;
  padding: 1em;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); */
  box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 0px 4px 13px -1px rgba(0, 0, 0, 0.79);
  background-color: #fff;
  color: rebeccapurple;
  border-radius: 8px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

h1 {
  margin: 1rem;
  /* color: whitesmoke; */
}

h2::first-letter,
p::first-letter {
  text-transform: uppercase;
}

.center {
  text-align: center;
  margin-bottom: 1em;
}

a:any-link {
  color: rebeccapurple;
}

a:hover,
a:focus-within {
  /* color: hsla(0, 0%, 96%, 0.9); */
  color: rebeccapurple;
}
